/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
:root {
  --light-purple: rgb(195, 181, 250);
  --purple: #cfc4fb;
  --green: #a6e275;
  --aqua: #53d3e0;
  --light-aqua: #cbf2f6;
  --pink: #ff9c92;
  --light-pink: #ffe1de;
  --gold: #ffe94d;
  --gray: #282a2d;
  --gray-transparent: rgba(40, 42, 45, 0.5);
  --white: #fcfcfc;
  --box-shadow: -5px 3px 0px var(--gray);
  --black: #151616;

  --twitter: #1da1f2;
  --telegram: #0088cc;
  --youtube: #ff0000;
  --github-dark: #171515;
  --github: #e8eaea;
  --discord: #7289da;
  --website: var(--green);

  --background: #f3f0fe;
  --text-color: #151616;
  --border-color: var(--text-color);
  --border-radius: 4px;
  --border: 1px solid var(--border-color);
  --link-bold: #854ad1;
  --padding: 10px;
}

body {
  color: var(--black);
  margin: 0 auto;
  max-width: 1800px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: var(--background);
  background-attachment: fixed;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--black);
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  color: var(--black);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 120%;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--black);
}

html {
  scroll-behavior: smooth;
}

/*
  Responsiveness
*/

@media screen and (max-width: 800px) {
}

/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Navbar.css ***!
  \*****************************************************************************/
#navbar {
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "anchor-links pse-link social-links";
  font-weight: 600;
  font-size: 1.125rem;
  padding-block: 36px;
}

#navbar > * {
  align-self: center;
  justify-self: center;
}

#navbar > img {
  width: 40px;
  height: 40px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.125rem;
}

#anchor-links {
  grid-area: anchor-links;
}

#pse-link {
  grid-area: pse-link;
}

#social-links {
  grid-area: social-links;
}

#menu-link {
  display: none;
  grid-area: menu-link;
}

#nav-menu-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  #navbar {
    grid-template-areas: "social-links pse-link menu-link";
    padding-inline: 1em;
    border-bottom: none;
    padding-block: 16px;
  }

  .nav-links {
    gap: 1rem;
  }

  #anchor-links {
    display: none;
  }

  #menu-link {
    display: block;
    justify-self: end;
  }

  #social-links {
    justify-self: start;
  }

  #social-links > #job-openings {
    display: none;
  }

  #nav-menu-mobile.menu-open {
    display: grid;
    min-height: 33vh;
  }

  #nav-menu-mobile.menu-closed {
    display: none;
  }

  #nav-menu-mobile {
    grid-template-columns: 1fr;
    padding-block: 1.5em;
    border-bottom: var(--border);
    margin-bottom: 1em;
  }

  #nav-menu-mobile > a {
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.75em;
    align-self: center;
    justify-self: start;
    padding-left: 1em;
  }
}

/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Hero.css ***!
  \***************************************************************************/
.container {
  width: 100%;
}

img.hero-graphic {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}

.border-2 {
  border-width: 2px;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.border-gray-800 {
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity));
}

.bg-yellow-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity));
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce,
.hover\:animate-bounce:hover {
  animation: bounce 1s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.hover\:animate-spin:hover {
  animation: spin 1s linear infinite;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-w-\[1920px\] {
  max-width: 1920px;
}

.px-4 {
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
}

.py-12 {
  padding-top: 3rem /* 48px */;
  padding-bottom: 3rem /* 48px */;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.right-\[6\%\] {
  right: 6%;
}

.right-1\/3 {
  right: 33.333333%;
}

.top-6 {
  top: 1.5rem /* 24px */;
}

.top-60 {
  top: 15rem /* 240px */;
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration-line: underline;
}

.text-purple-800 {
  --tw-text-opacity: 1;
  color: rgb(107 33 168 / var(--tw-text-opacity));
}

.active\:text-opacity-70:active {
  --tw-text-opacity: 0.7;
}

.text-xs {
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
}

.text-sm {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.text-xl {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

.text-3xl {
  font-size: 2rem /* 32px */;
  line-height: 2.5rem /* 40px */;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Widths */
.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.w-\[108px\] {
  width: 108px;
}

/* Heights */
.h-\[149\.44px\] {
  height: 149.44px;
}

.h-\[91px\] {
  height: 91px;
}

/**
 *  Media Queries
 */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .md\:block {
    display: block;
  }

  .md\:px-16 {
    padding-left: 4rem /* 64px */;
    padding-right: 4rem /* 64px */;
  }

  .md\:px-24 {
    padding-left: 6rem /* 96px */;
    padding-right: 6rem /* 96px */;
  }

  .md\:max-w-xl {
    max-width: 36rem /* 576px */;
  }

  .md\:max-w-4xl {
    max-width: 56rem /* 896px */;
  }

  .md\:text-4xl {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:w-1\/4 {
    width: 25%;
  }

  .md\:top-12 {
    top: 3rem /* 48px */;
  }

  .md\:-right-2\/4 {
    right: -50%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .lg\:py-16 {
    padding-top: 4rem /* 64px */;
    padding-bottom: 4rem /* 64px */;
  }

  .lg\:space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }

  .lg\:max-w-6xl {
    max-width: 72rem /* 1152px */;
  }

  .lg\:w-\[195px\] {
    width: 195px;
  }

  .lg\:h-\[269\.83px\] {
    height: 269.83px;
  }

  .lg\:w-\[177\.08px\] {
    width: 177.08px;
  }

  .lg\:h-\[173px\] {
    height: 173px;
  }

  .lg\:text-sm {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
  }

  .lg\:text-lg {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
  }

  .lg\:text-3xl {
    font-size: 2rem /* 32px */;
    line-height: 2.5rem /* 40px */;
  }

  .lg\:text-5xl {
    font-size: 3rem /* 48px */;
    line-height: 1;
  }

  .lg\:leading-\[110\%\] {
    line-height: 110%;
  }

  .lg\:leading-\[145\%\] {
    line-height: 145%;
  }

  .lg\:top-16 {
    top: 4rem /* 64px */;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .xl\:text-base {
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
  }

  .xl\:text-4xl {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
  }

  .xl\:text-6xl {
    font-size: 3.75rem /* 60px */;
    line-height: 1;
  }

  .xl\:max-w-2xl {
    max-width: 42rem /* 672px */;
  }

  .xl\:w-\[270px\] {
    width: 270px;
  }

  .xl\:h-\[373\.61px\] {
    height: 373.61px;
  }

  .xl\:px-44 {
    padding-left: 11rem /* 176px */;
    padding-right: 11rem /* 176px */;
  }

  .xl\:py-24 {
    padding-top: 6rem /* 96px */;
    padding-bottom: 6rem /* 96px */;
  }

  .xl\:leading-\[150\%\] {
    line-height: 150%;
  }

  .xl\:-right-3\/4 {
    right: -75%;
  }

  .xl\:top-32 {
    top: 8rem /* 128px */;
  }

  .xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .\32xl\:right-\[10\%\] {
    right: 10%;
  }
}

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/ProjectCard.css ***!
  \**********************************************************************************/
.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: 1.2rem;
  border: var(--border);
}

.card-img-top {
  border-radius: var(--border-radius);
  object-fit: cover;
  max-height: 150px;
}

.card-text-project {
  line-height: 150%;
  font-weight: 400;
  font-size: 1rem;
}

.card-title {
  display: flex;
}

.card-title > div,
.card-title > a > div {
  font-weight: 700;
  font-size: 1.5rem;
  padding-block: 1.5rem;
}

.card-title > a > * {
  display: inline-flex;
}

.card-body {
  align-self: flex-start;
  flex: 1;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #9ea3a7;
  padding-top: 1rem;
  margin-top: 2.5rem;
  /* flex-wrap: wrap;
  background-color: transparent;
  padding: 1em 0em;
  border-top: 2px solid var(--gray);
  align-self: stretch; */
}

.docs-links {
  display: flex;
}

.social-links {
  display: flex;
  justify-content: flex-end;
}

.card-footer .btn {
  padding: 0.25rem 0.5rem;
}

.link {
  padding: 0.125rem;
  margin: 0 auto;
}

.link a {
  display: flex;
  align-items: center;
}

.icon {
  height: 2rem;
  padding-bottom: calc(1rem - var(--padding));
  padding-inline: 1.125rem;
}

.link-title {
  text-transform: capitalize;
}

/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Projects.css ***!
  \*******************************************************************************/
#Projects {
  padding-inline: 5rem;
  padding: 4rem 3rem;
}

#Projects > p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}

#Projects .Cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2.5rem;
}

.CardSectionTitle {
  text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.66);
}

@media screen and (max-width: 800px) {
  #Projects {
    padding-inline: 1rem;
  }
}

/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Discord.css ***!
  \******************************************************************************/
#call_to_action {
  padding: 2rem;
  border: 2px solid var(--black);
  border-left: none;
  border-right: none;
  background-color: var(--purple);
}

/* .discord-text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 125%;
} */

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/TeamMemberCard.css ***!
  \*************************************************************************************/
.members-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 4rem;
}

.members-card-title {
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.card-text {
  line-height: 150%;
  padding-bottom: 1.5rem;
}

.members-card-footer {
  border-top: 2px solid var(--black);
}

.members-card-footer a {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
}

.members-card-footer > *:not(:first-child) {
  border-top: 2px solid var(--black);
}

.team-link {
  padding: 0.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-link a {
  display: flex;
  align-items: center;
}

.team-icon {
  height: 1.5rem;
}

.team-link-title {
  text-transform: capitalize;
}

/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Team.css ***!
  \***************************************************************************/
#Team {
  padding-inline: 5rem;
  padding: 4rem 3rem;
}

#Team .Cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2rem;
}

@media screen and (max-width: 800px) {
  #Team {
    padding-inline: 1em;
  }
}

/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Footer.css ***!
  \*****************************************************************************/
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  border-top: 2px solid var(--gray);
  margin: 6.5rem 5em 1rem;
  padding-block: 2.4rem;
}

#copyright {
  display: flex;
  justify-content: start;
  gap: 2.5rem;
}

#copyright img {
  max-width: 50px;
}

#footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#footer-text > * {
  margin: 0;
}

#footer-title {
  font-weight: 700;
}

#footer-links {
  display: flex;
  gap: 4.5rem;
}

#footer-links > * {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
}

#footer-links img {
  max-width: 40px;
}

@media screen and (max-width: 800px) {
  footer {
    margin: 1em 0em;
    margin-top: 4rem;
    padding: 1em;
    justify-content: center;
  }

  #copyright img {
    display: none;
  }

  #footer-links {
    flex-direction: column;
    margin-top: 4rem;
  }
  #footer-links img {
    max-width: 3rem;
  }
}

