body {
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(93,93,93,1) 100%);
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.starter {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 5rem;
    gap: 5rem;
}

.starter > * {
    margin: 0 auto;
    text-align: center;
}

.row {
    padding-bottom: 1.5rem;
}

.title {
    margin: 1rem auto;
    text-align: center;
    max-width: 42rem;
}

.ethlogo {
    max-height: 16rem;
}

.arrow {
    margin: 1rem auto;
    text-align: center;
}

.arrow img {
    height: auto;
    width: 48px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.link a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white !important;
}

a:hover {
    text-decoration: underline;
}

.icon {
    height: 2.75rem;
    padding-bottom: .5rem;
}

a[href=""], a[href="#"], a[href=""]:hover, a[href="#"]:hover {
    opacity: 25%;
    cursor: default;
    text-decoration: none;
  }

@media screen and (max-width: 800px) {
    .starter {
        padding-block: 1rem;
        gap: 1rem;
    }

    .icon {
        height: 2rem;
    }

    .row {
        border-bottom: 1px solid rgba(255,255,255,.25);
        padding-block: 2rem;
        padding-inline: 1rem;
    }

    .row > .link {
        width: auto
    }

    .center {
        gap: 2rem;
    }
}