#call_to_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5em 0 4em;
  padding: 3.5em;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  background-color: var(--purple);
}

#call_to_action h2 {
  font-weight: 900;
}
