footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  border-top: 2px solid var(--gray);
  margin: 0rem 5em 1rem;
  padding-block: 2.4rem;
}

#copyright {
  display: flex;
  justify-content: start;
  gap: 2.5rem;
}

#copyright img {
  max-width: 50px;
}

#footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#footer-text > * {
  margin: 0;
}

#footer-title {
  font-weight: 700;
}

#footer-links {
  display: flex;
  gap: 4.5rem;
}

#footer-links > * {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
}

#footer-links img {
  max-width: 40px;
}

#footer-links .cta {
  color: var(--brown);
}

@media screen and (max-width: 800px) {
  footer {
    margin: 1em 0em;
    margin-top: 4rem;
    padding: 1em;
    justify-content: center;
  }

  #copyright img {
    display: none;
  }

  #footer-links {
    flex-direction: column;
    margin-top: 4rem;
  }
  #footer-links img {
    max-width: 3rem;
  }
}
