#Hero {
  max-width: 67%;
  padding: 50px;
}

#Hero .name {
  color: var(--brown);
}

#Hero .links {
  display: flex;
  align-items: center;
}

#Hero .docs-link {
  margin-right: 10px;
}

#Hero .button-docs {
  width: 20px;
  margin-left: 10px;
}

#Hero .repo-link {
  margin-inline: 10px;
}

#Hero .button-github {
  width: 20px;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  #Hero .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: left;
  }
}
