#navbar {
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "tlsn-link anchor-links social-links";
  font-weight: 600;
  font-size: 1.125rem;
  padding-block: 12px;
}

#navbar > * {
  align-self: center;
  justify-self: center;
}

#navbar > img {
  width: 40px;
  height: 40px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.125rem;
}

#anchor-links {
  grid-area: anchor-links;
}

#tlsn-link {
  grid-area: tlsn-link;
}

#social-links {
  grid-area: social-links;
}

#menu-link {
  display: none;
  grid-area: menu-link;
}

#nav-menu-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  #navbar {
    grid-template-areas: "tlsn-link social-links menu-link";
    padding-inline: 1em;
    border-bottom: none;
    padding-block: 16px;
  }

  .nav-links {
    gap: 1rem;
  }

  #anchor-links {
    display: none;
  }

  #menu-link {
    display: block;
    justify-self: end;
  }

  #social-links {
    justify-self: start;
  }

  #social-links > #job-openings {
    display: none;
  }

  #nav-menu-mobile.menu-open {
    display: grid;
    min-height: 33vh;
  }

  #nav-menu-mobile.menu-closed {
    display: none;
  }

  #nav-menu-mobile {
    grid-template-columns: 1fr;
    padding-block: 1.5em;
    border-bottom: var(--border);
    margin-bottom: 1em;
  }

  #nav-menu-mobile > a {
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.75em;
    align-self: center;
    justify-self: start;
    padding-left: 1em;
  }
}
