#navbar {
  border-bottom: 2px solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 600;
  font-size: 1.125rem;
  padding-block: 36px;
}

#navbar > * {
  align-self: center;
  justify-self: center;
}

#navbar > img {
  width: 40px;
  height: 40px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}
