#Pagesigner {
  display: flex;
  justify-content: center;
  background-color: var(--brown);
}

#Pagesigner h3 {
  color: var(--white);
}

#Pagesigner .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: var(--blue);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
