.btn {
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: var(--border);
  border-radius: 2em;
}

.btn-close {
  color: var(--black);
  padding: 0;
  float: right;
  background-color: transparent;
  border: none;
}

.btn-close::after {
  content: "×";
  font-size: 1.5rem;
}

.btn-ext {
  color: var(--black);
  font-weight: 600;
  background-color: var(--white);
  margin-top: 1em;
}

.column {
  display: flex;
  flex-direction: column; /* stacks the left and right headers above the bottom content */
}

h3 {
  float: left;
  font-size: 1.5rem;
}

.modal-description {
  margin-top: 1em;
}

.ReactModal__Content {
  inset: 25% 33% !important;
  border: var(--border) !important;
  border-radius: var(--border-radius) !important;
}

.ReactModal__Overlay {
  background-color: var(--gray-transparent);
  opacity: 0;
  transition: 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .ReactModal__Content {
    inset: 20% 25% !important;
  }
}

@media screen and (max-width: 800px) {
  .ReactModal__Content {
    inset: 20% 10% !important;
  }
}
