.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: var(--padding);
  border: var(--border);
}

.card-img-top {
  border-radius: var(--border-radius);
  object-fit: cover;
  max-height: 150px;
}

.card-body {
  align-self: flex-start;
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  padding: 1em 0em;
  border-top: 2px solid var(--gray);
  align-self: stretch;
}

.card-footer .btn {
  padding: 0.25rem 0.5rem;
}

.link {
  padding: 0.125rem;
  margin: 0 auto;
}

.link a {
  display: flex;
  align-items: center;
}

.icon {
  height: 1.35rem;
  padding-block: 0.125rem;
  padding-inline-end: 0.35rem;
}

.link-title {
  text-transform: capitalize;
}
