.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: 1.2rem;
  border: var(--border);
}

.card-img-top {
  border-radius: var(--border-radius);
  object-fit: cover;
  max-height: 150px;
}

.project-description {
  overflow: hidden;
  height: 4.5em; /* exactly three lines */
  position: relative;
}

.project-description::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.card-text-project {
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
}

.card-title {
  display: flex;
}

.card-title > div,
.card-title > a > div {
  font-weight: 700;
  font-size: 1.5rem;
  padding-block: 1.5rem;
}

.card-title > a > * {
  display: inline-flex;
}

.card-body {
  align-self: flex-start;
  flex: 1;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #9ea3a7;
  padding-top: 1rem;
  margin-top: 2.5rem;
  /* flex-wrap: wrap;
  background-color: transparent;
  padding: 1em 0em;
  border-top: 2px solid var(--gray);
  align-self: stretch; */
}

.docs-links {
  display: flex;
}

.social-links {
  display: flex;
  justify-content: flex-end;
}

.card-footer .btn {
  padding: 0.25rem 0.5rem;
}

.link {
  padding: 0.125rem;
  margin: 0 auto;
}

.link a {
  display: flex;
  align-items: center;
}

.icon {
  height: 2rem;
  padding-bottom: calc(1rem - var(--padding));
  padding-inline: 1.125rem;
}

.link-title {
  text-transform: capitalize;
}
