.members-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 4rem;
}

.members-card-title {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.card-text {
  line-height: 125%;
  padding-bottom: 1.5rem;
}

.members-card-footer {
  border-top: 2px solid var(--black);
}

.members-card-footer a {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
}

.members-card-footer > *:not(:first-child) {
  border-top: 2px solid var(--black);
}
