#Team {
  padding-inline: 5em;
}

#Team .Cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2rem;
}

@media screen and (max-width: 800px) {
  #Team {
    padding-inline: 1em;
  }
}
