.members-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.members-card-title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;
  padding-bottom: 1.5rem;
}
.card-text {
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding-bottom: 1.5rem;
}
.members-card-footer {
  border-top: 2px solid var(--gray);
}

.members-card-footer a {
  display: flex;
  justify-content: space-between;
  padding-block: 0.5em;
  font-weight: 600;
  font-size: 0.9rem;
}

.members-card-footer > *:not(:first-child) {
  border-top: 2px solid var(--gray);
}
