#Usecases {
  padding-inline: 5rem;
  padding: 4rem 3rem;
  background-color: var(--background-blue);
  justify-items: center;
}

#Usecases * p {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}

#Usecases .header {
  color: var(--white);
}

#Usecases .body {
  max-width: 67%;
  margin: auto;
}

#Usecases .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.5rem;
}

#Usecases .card {
  border-radius: var(--border-radius);
  background: var(--light-blue);
  padding: 1.2rem;
}

#Usecases .card-text {
  color: var(--white);
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
}
.card-image {
  display:block;
  margin:auto;
  width:100%;
  height:auto;
}

#Usecases .card-body {
  align-self: flex-start;
}

@media only screen and (max-width: 600px) {
  #Usecases .cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
