:root {
  --light-purple: rgb(195, 181, 250);
  --purple: #cfc4fb;
  --green: #a6e275;
  --aqua: #53d3e0;
  --light-aqua: #cbf2f6;
  --pink: #ff9c92;
  --light-pink: #ffe1de;
  --gold: #ffe94d;
  --gray: #282a2d;
  --gray-transparent: rgba(40, 42, 45, 0.5);
  --white: #fcfcfc;
  --box-shadow: -5px 3px 0px var(--gray);
  --black: #151616;

  --twitter: #1da1f2;
  --telegram: #0088cc;
  --youtube: #ff0000;
  --github-dark: #171515;
  --github: #e8eaea;
  --discord: #7289da;
  --website: var(--green);

  --background: #f3f0fe;
  --text-color: #151616;
  --border-color: var(--text-color);
  --border-radius: 4px;
  --border: 1px solid var(--border-color);
  --link-bold: #854ad1;
  --padding: 10px;
}

body {
  color: var(--black);
  margin: 0 auto;
  max-width: 1800px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: var(--background);
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--black);
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  color: var(--black);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 120%;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--black);
}

html {
  scroll-behavior: smooth;
}

/*
  Responsiveness
*/

@media screen and (max-width: 800px) {
}
