body {
  color: black;
  background: rgb(195, 181, 250);
  background: linear-gradient(180deg, rgba(219, 211, 252, 1) 0%, rgba(219, 211, 252, 1) 100%);
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 800px) {
  .starter {
    padding-block: 1rem;
    gap: 1rem;
  }

  .icon {
    height: 2rem;
  }

  .row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-block: 2rem;
    padding-inline: 1rem;
  }

  .row > .link {
    width: auto;
  }

  .center {
    gap: 2rem;
  }
}
