:root {
  --light-purple: rgb(195, 181, 250);
  --green: #A6E275;
  --aqua: #53D3E0;
  --light-aqua: #CBF2F6;
  --pink: #FF9C92;
  --light-pink: #FFE1DE;
  --gold: #FFE94D;
  --gray: #282A2D;
  --gray-transparent: rgba(40, 42, 45, 0.5);
  --box-shadow: -22px 10px 0px var(--gray);
}

.bg-light-purple {
  background-color: var(--light-purple);
}

.bg-light-pink {
  background-color: var(--light-pink)
}

.bg-light-aqua {
  background-color: var(--light-aqua)
}

.btn-pink {
  background-color: var(--pink);
  color: black;
  font-weight: 500;
  margin: 0.25rem;
  border: 2px solid var(--gray);
}

.btn-shadow {
  box-shadow: -5px 3px 0px var(--gray);
}

body {
  color: black;
  background: var(--light-purple);
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  /* background-image: url('./images/pse-deco.png'); */
  background-repeat: no-repeat;
  background-position: right -20em bottom 5em;
}

@media screen and (max-width: 800px) {
  :root {
    --box-shadow: -12px 5px 0px var(--gray);
  }
  body {
    margin-inline: 1rem;
  }

  .starter {
    padding-block: 1rem;
    gap: 1rem;
  }

  .icon {
    height: 2rem;
  }

  .row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-block: 2rem;
    padding-inline: 1rem;
  }

  .row > .link {
    width: auto;
  }

  .center {
    gap: 2rem;
  }
}
